<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 footer-section">
        <div class="footer-logo">AYURVEDA COMPASS</div>
        <p class="footer-about">
          Your personalized guide to natural health, balance, and harmony, take
          the first step towards a healthier you.
          <br />
          <br />
          Email: support&#64;ayuvedacompass.com
        </p>
        <div class="social-links">
          <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-x"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 footer-section hide">
        <h5>Information</h5>
        <ul class="footer-links">
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Cookie Preference</a></li>
          <li><a href="#">Partners</a></li>
          <li><a href="#">Investors</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-6 footer-section hide">
        <h5>Quick Navigation</h5>
        <ul class="footer-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Sign In</a></li>
          <li><a href="#">Sign Up</a></li>
        </ul>
      </div>

      <div class="col-lg-4 footer-section">
        <h5>Newsletter</h5>
        <p class="footer-about">
          Subscribe to our newsletter for news, and exclusive offers.
        </p>
        <div class="footer-newsletter">
          <input type="email" placeholder="Enter email address" />
          <button class="newsletter-btn">
            <i class="fas fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <ul class="footer-bottom-links">
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Disclaimer</a></li>
      </ul>
      <p>© 2025 Ayuverda Compass. All Rights Reserved.</p>
    </div>
  </div>
</footer>
