<nav class="navbar navbar-expand-lg cinzel">
  <div class="container d-flex justify-content-between align-items-center">
    <a class="navbar-brand d-flex align-items-center cinzel bold" href="#">
      <img src="/assets/header-icon.svg" alt="Logo" class="logo-icon me-2" />
      <span>AYURVEDA COMPASS</span>
    </a>

    <button
      class="navbar-toggler me-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#rightNav"
      aria-controls="rightNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="rightNav">
      <ul class="navbar-nav mx-auto cinzel bold">
        <li class="nav-item"><a class="nav-link" href="#">SERVICES</a></li>
        <li class="nav-item"><a class="nav-link" href="#">BLOG</a></li>
        <li class="nav-item"><a class="nav-link" href="#">ABOUT</a></li>
        <li class="nav-item"><a class="nav-link" href="#">PRACTITIONERS</a></li>
        <li class="nav-item"><a class="nav-link" href="#">CONTACT</a></li>
      </ul>

      <div class="navbar-nav ms-auto d-flex align-items-center">
        <a href="#" class="nav-link me-2 cinzel bold sign-in">Sign in</a>
        <a href="#" class="btn btn-success btn-sm cinzel bold">Get Started</a>
      </div>
    </div>
  </div>
</nav>
