nav {
  font-size: 16px;

  span {
    font-size: 20px;
  }

  .logo-title {
    color: var(--dark-green-hover);
  }
}

.btn-success {
  background-color: var(--primary-green) !important;
  border-color: var(--primary-green) !important;
  color: var(--light-text) !important;
}

.btn-success:hover,
.btn-success:focus {
  background-color: var(--dark-green-hover) !important;
  border-color: var(--dark-green-hover) !important;
}

.nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link.sign-in:hover {
  color: var(--primary-green);
}

.nav-link.sign-in::after {
  content: none;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: var(--primary-green);
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-50%);
}

.nav-link:hover::after {
  width: 50%;
  left: 50%;
}

.navbar-collapse .d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.navbar-collapse .btn-success,
.navbar-collapse .nav-link {
  text-align: center;
}

.navbar-collapse .btn-success {
  margin-left: 10px;
}

@media (max-width: 1200px) {
  .navbar-nav {
    text-align: center;
  }

  nav span {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .nav-link:hover::after {
    width: 20%;
    left: 50%;
    transform: translateX(-50%);
  }

  .navbar-nav.ms-auto.d-flex {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .navbar-collapse .d-flex {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .navbar-collapse .btn-success {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }

  nav span {
    font-size: 16px;
  }

  .navbar-collapse {
    text-align: center;
  }

  .navbar-nav {
    width: 100%;
    justify-content: center;
  }
}
