<div class="hero-container d-flex mt-5">
    <div class="left-section">
        <h1>Ayurveda Compass</h1>
        <p class="hero-description">Your personalized guide to natural health, balance, and harmony, take the first step
            towards a healthier you.
        </p>
        <button type="button" class="btn start-button">Start Your Journey</button>
        <span class="hero-subtitle">Start your trial and enjoy 7 days free, no credit card required!</span>
    </div>
    <div class="right-section">
        <img src="/assets/hero-image.png" class="img-fluid" />
    </div>
</div>