<div class="features-container">
    <!-- <img src="assets/curve.svg" alt="Decorative Curve" class="curve-svg" /> -->
    <div class="row">
        <div class="col-12 intro-text">
            <h1>What We Offer</h1>
            <p>
                Explore personalized wellness recommendations designed to support your unique body type and
                lifestyle.
            </p>
        </div>
    </div>
    <div class="row feature-list">
        <div class="col-4 col-md-4 col-sm-4 col-xs-12 feature-card">
            <img src="assets/body-home.svg" alt="">
            <h4>Body Type Assesment</h4>
            <p>Discover your dosha through a personalized quiz or analysis of your unique traits.</p>
        </div>
        <div class="col-4 col-md-4 col-sm-4 col-xs-12 feature-card">
            <img src="assets/dashboard-home.svg" alt="">
            <h4>Tailored Lifestyle Guidance</h4>
            <p>Get customized recommendations for diet, sleep, daily routines, and more.</p>
        </div>
        <div class="col-4 col-md-4 col-sm-4 col-xs-12 feature-card">
            <img src="assets/yoga-home.svg" alt="">
            <h4>Yoga For Balance</h4>
            <p>Practice simple yet effective yoga poses suited to your dosha.</p>
        </div>
        <div class="col-4 col-md-4 col-sm-4 col-xs-12 feature-card">
            <img src="assets/trophy-home.svg" alt="">
            <h4>Gamified Progress Tracking</h4>
            <p>Log your symptoms, track improvements, and earn rewards.</p>
        </div>
        <div class="col-4 col-md-4 col-sm-4 col-xs-12 feature-card">
            <img src="assets/bulb-home.svg" alt="">
            <h4>Seasonal Wellness Tips</h4>
            <p>Receive expert-backed seasonal advice to maintain balance.</p>
        </div>
        <div class="col-4 col-md-4 col-sm-4 col-xs-12 feature-card">
            <img src="assets/map-home.svg" alt="">
            <h4>Find Ayurvedic Experts</h4>
            <p>Search for and book certified Ayurvedic practitioners.</p>
        </div>
    </div>
</div>