:root {
  /* Colors */
  --dark-charcoal: #2a2930;
  --light-beige: #f7ecd9;
  --soft-green: #b9d399;
  --primary-green: #7eab49;
  --deep-green: #3d9970;
  --muted-brown: #6a6345;
  --dark-green-hover: #679136;

  /* Text Colors */
  --dark-text: var(--dark-charcoal);
  --light-text: var(--light-beige);
  --lightest-text: #fffefe;
}

// Cinzel font
.cinzel {
  font-family: "Cinzel", serif;
  font-style: normal;

  // Regular Text
  font-weight: 400;

  // Bold Text
  &.bold {
    font-weight: 700;
  }
}

body {
  font-family: "Lora", serif;
  color: var(--dark-text);
  font-weight: 400;
  background-color: var(--light-beige);
}